<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">La Chefa - Admin</title>
</head>
<body>
    <h1 th:text="${titulo}">Nuevo Producto</h1>

   <form th:action="@{/productos/guardar}" th:object="${producto}" method="post">
    
    <div>
        <label>Nombre de la Salsa:</label><br>
        <input type="text" th:field="*{nombre}" required>
    </div>

    <div style="margin-top: 15px;">
        <label>Descripción del Sabor:</label><br>
        <textarea th:field="*{descripcion}" rows="3" style="width: 300px;" 
                  placeholder="Ej: Toques ahumados con base de tomate..."></textarea>
    </div>

    <div style="margin-top: 15px;">
        <label>Nivel de Picante:</label><br>
        <select th:field="*{nivelPicor}" style="padding: 5px; width: 200px;">
            <option value="0">0 - No pica (Suave)</option>
            <option value="1">1 - Apenas pica</option>
            <option value="2">2 - Picante medio</option>
            <option value="3">3 - Picante fuerte</option>
            <option value="4">4 - Muy picante</option>
            <option value="5">5 - ¡Extra Picante! 🔥</option>
        </select>
    </div>

    <div style="margin-top: 15px;">
        <label>Stock Inicial:</label>
        <input type="number" th:field="*{stock}" required>
    </div>
    
    <div style="margin-top: 15px;">
        <label>Precio:</label>
        <input type="number" th:field="*{precio}" required>
    </div>

    <button type="submit" style="margin-top: 20px; padding: 10px;">¡Cargar al Inventario!</button>
</form>
    
    <form th:action="@{/productos/guardar}" th:object="${producto}" method="post">
    <input type="hidden" th:field="*{id}" />

    <br>
    <a th:href="@{/productos/catalogo}">Volver al Catálogo</a>
</body>
</html>