<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">La Chefa - Admin</title>
</head>
<body>
    <h1 th:text="${titulo}">Nuevo Producto</h1>

    <form th:action="@{/productos/guardar}" th:object="${producto}" method="post">
        
        <div>
            <label>Nombre de la Salsa:</label>
            <input type="text" th:field="*{nombre}" />
            <small th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" style="color:red;"></small>
        </div>

        <div>
            <label>Descripción / Nivel de Picante:</label>
            <textarea th:field="*{descripcion}"></textarea>
        </div>

        <div>
            <label>Stock Inicial:</label>
            <input type="number" th:field="*{stock}" />
            <small th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}" style="color:red;"></small>
        </div>

        <div>
            <label>Precio:</label>
            <input type="number" th:field="*{precio}" />
        </div>

        <button type="submit">¡Cargar al Inventario!</button>
    </form>
    
    <form th:action="@{/productos/guardar}" th:object="${producto}" method="post">
    <input type="hidden" th:field="*{id}" />

    <br>
    <a th:href="@{/productos/catalogo}">Volver al Catálogo</a>
</body>
</html>